.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

.journal-image {
  margin: 0 auto;
  width: 87.5%;
  height: 35vh;
  border-radius: 0.25rem;
}

.user-input {
  width: 90%;
  margin: 0.5rem auto;
  border: 1px solid grey;
  border-radius: 0.25rem;
}

#notes {
  height: 20vh;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}
