body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(240, 240, 240);
}

.journal-head {
  color: white;
  font-size: 0.75em;
  letter-spacing: 0.75px;
}

.head-background {
  background-color: rgb(86, 43, 129);
  width: 100%;
  height: 2.5rem;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.entries-link {
  text-decoration: none;
  color: white;
  font-size: 0.75em;
  padding-left: 1rem;
}

.new-entry {
  text-decoration: none;
  color: white;
  background-color: rgb(86, 43, 129);
  border: none;
  border-radius: 0.25rem;
  font-size: 0.75em;
  padding: 0.25rem 0.5rem;
}

.entry-header {
  font-size: 1.25em;
  letter-spacing: 0.5px;
  line-height: 1rem;
}

.journal-image {
  width: 100%;
  height: 35vh;
  border-radius: 0.25rem;
  object-fit: cover;
}

.input-title {
  font-size: 0.75em;
  font-weight: 800;
  letter-spacing: 0.25px;
  display: inline-block;
  padding: 1rem 0 0.25rem;
}

.user-input {
  width: 100%;
  height: 4vh;
  border: 2px solid rgb(184, 184, 184);
  border-radius: 0.25rem;
}

.user-input:focus {
  outline: none;
  border-color: rgb(86, 43, 129);
}

.no-entry {
  padding-top: 2rem;
  text-align: center;
}

.notes {
  height: 18vh;
}

.delete {
  color: red;
  font-family: "Open Sans", sans-serif;
  border: none;
  text-decoration: underline;
  padding-top: 0.7rem;
}

.submit {
  color: white;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(86, 43, 129);
  font-size: 0.75em;
  letter-spacing: 0.5px;
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.75rem;
  margin-top: 0.5rem;
  float: right;
}

ul {
  list-style-type: none;
  padding: 0;
}

.pencil {
  color: rgb(86, 43, 129);
  float: right;
  transition: font-size 0.25s;
}

.pencil:hover {
  font-size: 1.25rem;
}

.star {
  float: right;
  padding-right: 1rem;
  transition: font-size 0.25s;
}

.star:hover {
  font-size: 1.25rem;
}

.unfavourite {
  color: rgb(86, 43, 129);
  opacity: 0.25;
}

.favourite {
  color: gold;
  font-size: 1.25rem;
}

.modal-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 75%);
  border: none;
  top: 0;
}

.modal-box {
  background-color: white;
  color: black;
  width: 20rem;
  height: 20vh;
  border-radius: 0.25rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.modal-button {
  margin: 1rem;
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 0.25rem;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
}

.cancel {
  background-color: rgb(196, 196, 196);
  margin-right: 6rem;
}

.confirm {
  background-color: rgb(221, 0, 0);
  color: white;
}

.search-icon {
  margin-right: 0.25rem;
  color: rgb(86, 43, 129);
  transition: font-size 0.25s;
}

.search-icon:hover {
  font-size: 1.25rem;
}

.search-bar {
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  border: 2px solid rgb(184, 184, 184);
  outline: none;
}

.search-bar:focus {
  border-color: rgb(86, 43, 129);
}

.journal-image:hover {
  cursor: zoom-in;
}

.img-modal-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 75%);
  border: none;
  width: 100%;
  height: 100vh;
}

.modal-image {
  max-width: 60%;
}

@media screen and (min-width: 768px) {
  .head-background {
    height: 3rem;
  }

  .journal-head {
    font-size: 1em;
    padding-left: 0.75rem;
  }

  .entries-link {
    font-size: 1em;
    padding-left: 1.5rem;
  }

  .new-entry {
    font-size: 1em;
  }

  .entry-header {
    font-size: 1.5em;
    padding-left: 0.75rem;
  }

  .journal-image {
    height: 45vh;
    width: 90%;
  }

  .input-title {
    padding-top: 2rem;
    font-size: 1em;
  }

  #input-title {
    padding-top: 0;
  }

  li {
    padding-bottom: 2rem;
  }

  .modal-box {
    width: 25rem;
  }

  .search-icon {
    margin-right: 0.5rem;
  }

  .search-bar {
    margin-right: 0.5rem;
    height: 2rem;
  }
}
